@font-face {
  font-family: Oswald-Regular;
  src: url(/fonts/Oswald-Regular.ttf);
}
@font-face {
  font-family: Oswald-Medium;
  src: url(/fonts/Oswald-Medium.ttf);
}
@font-face {
  font-family: Oswald-Bold;
  src: url(/fonts/Oswald-Bold.ttf);
}
h1 {
  font-family: Oswald-Bold, sans-serif;
}

h2 {
  font-family: Oswald-Medium, sans-serif;
}

b,
a,
p,
li {
  font-family: Oswald-Regular, sans-serif;
}

h1,
h2,
h3,
p,
li,
a,
a:link,
a:visited {
  color: #ceb9c2;
}

@media (min-aspect-ratio: 1/1) {
  body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 5em 1fr 15em;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  h1,
  h2,
  h3,
  p {
    color: #ceb9c2;
  }
  a,
  a:link,
  a:visited {
    text-decoration: none;
    color: #ceb9c2;
  }
  nav {
    background-color: #69706b;
  }
  nav .NavCenter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em 0;
  }
  nav .NavCenter h1 {
    font-size: 2em;
  }
  nav .NavCenter h2 {
    font-size: 1.5em;
  }
  nav .NavCenter .menu-btn,
  nav .NavCenter .menu-icon {
    display: none;
  }
  nav .NavCenter .Pages {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 2em;
  }
  .MainBody {
    grid-area: 2/2/3/3;
    background-color: #4d5836;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3em;
    padding: 0 3em 3em;
  }
  .MainBody h2 {
    grid-column: span 2;
    text-align: center;
    font-size: 3.5vw;
    margin: 0;
    margin-bottom: 2%;
  }
  .MainBody section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .MainBody section h2 {
    text-align: center;
    font-size: 1.5vw;
  }
  .MainBody section a {
    display: inline-block;
    max-width: 100%;
  }
  .MainBody section img {
    display: block;
    margin: 0;
    max-width: 100%;
    min-height: 25vw;
  }
  footer {
    grid-area: 3/2/4/3;
    background-color: #69706b;
  }
  footer h1 {
    text-align: center;
  }
  footer .FooterIcons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  footer .FooterIcons img {
    max-height: 100px;
    margin: 0 1em 0;
  }
  footer address {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 1em;
  }
  footer address a {
    margin: 0 1em 0;
  }
  .Sidebar1 {
    grid-area: 1/1/4/2;
    background-color: #69706b;
  }
  .Sidebar2 {
    grid-area: 1/3/4/4;
    background-color: #69706b;
  }
}
@media (max-aspect-ratio: 1/1) {
  .Sidebar1,
  .Sidebar2 {
    display: none;
  }
  h1,
  h2,
  h3,
  p {
    color: #ceb9c2;
    margin: 0;
    padding: 0;
  }
  a,
  a:link,
  a:visited {
    text-decoration: none;
    color: #ceb9c2;
  }
  body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
  }
  nav {
    background-color: #69706b;
  }
  nav .NavCenter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  nav .NavCenter h1 {
    font-size: 3em;
    padding-left: 0.3em;
  }
  nav .NavCenter .Pages {
    display: none;
  }
  nav .NavCenter .menu-icon {
    cursor: pointer;
    padding: 2em 2em;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  nav .NavCenter .menu-icon .navicon {
    background-color: #c7d6ed;
    display: block;
    height: 4px;
    position: relative;
    width: 45px;
  }
  nav .NavCenter .menu-icon .navicon::before,
  nav .NavCenter .menu-icon .navicon::after {
    background-color: #c7d6ed;
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
  }
  nav .NavCenter .menu-icon .navicon::before {
    top: 1em;
  }
  nav .NavCenter .menu-icon .navicon::after {
    top: -1em;
  }
  nav .NavCenter .menu-btn {
    display: none;
  }
  nav .NavCenter .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  nav .NavCenter .menu-btn:checked ~ .menu-icon .navicon::before {
    transform: rotate(-45deg);
    top: 0;
  }
  nav .NavCenter .menu-btn:checked ~ .menu-icon .navicon::after {
    transform: rotate(45deg);
    top: 0;
  }
  nav .NavCenter .menu-btn:checked ~ .Pages {
    display: block;
    background-color: #69706b;
    position: absolute;
    top: 4em;
    right: 0;
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 1em;
    width: 100%;
    text-align: end;
  }
  .MainBody {
    background-color: #4d5836;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-bottom: 1em;
  }
  .MainBody section {
    width: 80%;
    margin: 1em 0 1em 0;
  }
  .MainBody section h2 {
    text-align: center;
  }
  .MainBody section img {
    width: 100%;
  }
  footer {
    background-color: #69706b;
  }
  footer h1 {
    text-align: center;
  }
  footer .FooterIcons {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }
  footer .FooterIcons img {
    width: 75px;
    margin: 0 0.25em;
  }
  footer address {
    display: flex;
    flex-flow: column nowrap;
  }
  footer address a {
    text-align: center;
    font-size: 1.5rem;
  }
  footer address b {
    display: none;
  }
}/*# sourceMappingURL=indexStyle.css.map */