@use "NavStyle";

body {
	margin: 0;
	background-color: whitesmoke;
}

.gametitle {
	font-weight: bold;
	font-size: 6vw;
	text-align: center;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url(../images/World_Of_Color-Background.png);
}

img {
	margin: auto;
	max-width: 100%;
}

article {
	width: 75%;
	margin: auto;
}

p {
	color: rgb(255, 200, 37);
	font-size: 2rem;
	font-weight: bolder;
}

iframe {
	margin: auto;
}