/*nav bar content*/
nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	width: 100%;
	background-color: rgba(140, 140, 140, 0.477);
}

nav h1 {
	font-size: medium;
}

nav .NamePlate {
	width: auto;
	padding-left: 1ch;
	padding-right: 1ch;
	min-height: 25px;
	/*background-color: green;*/
}

nav .Pages {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 20%;
	min-height: 25px;
	/*background-color: rgb(167, 167, 215);*/
}

nav .gap {
	width: 4%;
	/*background-color: azure;*/
}

/*main page*/

body {
	margin: 0px;
}

.mainBody {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	min-height: 600px;
	background-color: rgba(255, 228, 196, 0.478);
}

section {
	display: flex;
	justify-content: center;
	flex-direction: column;
	min-height: 100px;
	background-color: azure;
	padding-bottom: 1%;
}

img {
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
}

section h2 {
	text-align: center;
}

section p {
	width: 50%;
	padding-left: 25%;
}

footer {
	align-self: center;
	background-color: rgba(87, 49, 49, 0.26);
	padding: 0.1% 0% 2% 0%;
}

footer h1 {
	text-align: center;
}

address {
	text-align: center;
}

.FooterIcons {
	display: flex;
	justify-content: center;
}

.FooterIcons img {
	width: 50px;
}